/* =============================================================== H E A D E R   S T Y L E S =============================================================== */
/* ========================================================================================================================================================= */
.hero h1 {
    /* Text styles */
    font-family: Prata;
    font-size: 100px;
    font-weight: 100;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero h2 {
    font-family: AnonymousProRegular;
    font-size: 50px;
}


/* =============================================================== P A R A G R A P H   S T Y L E S =============================================================== */
/* =============================================================================================================================================================== */
.hero p {
    font-family: AnonymousProRegular;
    font-size: 30px;
}


/* =============================================================== B O D Y   S T Y L E S =============================================================== */
/* ===================================================================================================================================================== */
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #8c8c8c;
    color: black;
    overflow-x: hidden;
}


/* =============================================================== B U T T O N   S T Y L E S =============================================================== */
/* ========================================================================================================================================================= */
.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white; /* CHANGE THIS LINE */
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white; /* CHANGE THIS LINE */
    border-radius: 20px;
}

.circ {
  background-color: transparent;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 50%;

  font-family: AnonymousProRegular;
  width: 50px;
  line-height: 50px;
  border: 2px solid #f5f5f5;
  overflow: hidden;

  background: #464646;
  box-shadow: 0 0 3px grey;
  font-size: 20px;
  font-weight: bold;

  position: absolute;
}

.circ:hover {
  background-color: grey;
  color: white;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn, .submitbtn {
  float: left;
  width: 50%;
}

.popUpCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.popUpCloseButton:hover {
  background-color: #ccc;
}


/* =============================================================== R A D I O   S T Y L E S =============================================================== */
/* ======================================================================================================================================================= */
.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%
}

.radioContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.radioContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

.radioContainer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


/* =============================================================== F O R M   S T Y L E S =============================================================== */
/* ===================================================================================================================================================== */
input[type=text], input[type=password] {
  color: black;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

input:invalid + span:after {
  content: 'X';
  color: #f00;
  padding-left: 5px;
}

input:valid + span:after {
  content: U+2714;
  color: #26b72b;
  padding-left: 5px;
}


/* =============================================================== S E C T I O N   S T Y L E S =============================================================== */
/* =========================================================================================================================================================== */
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('wavePattern.png');
    /* Photographer Michelle Hironimus, https://www.pexels.com/photo/blue-sky-frond-palm-palm-frond-928413/ */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.signStyle {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('alpineMountain.jpg');
    /* Photographer Michelle Hironimus, https://www.pexels.com/photo/blue-sky-frond-palm-palm-frond-928413/ */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* =============================================================== D I V   S T Y L E S =============================================================== */
/* =================================================================================================================================================== */
.inner {
  width: 200px;
  display: inline-block;
  text-align: center;
}

.inner a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top:-0.5em;

  text-align: center;
  color: #e2eaf3;
  font-family: AnonymousProRegular;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.postTypePopUp {
  background: rgba(0, 0, 0, .4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.postTypePopUp .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.postTypePopUp > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}


/* =============================================================== ? ? ? ? ? ?   S T Y L E S =============================================================== */
/* ========================================================================================================================================================= */
#outer {
  width:100%;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing:content-box;
}

ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    font-family: AnonymousProRegular;
    float: left;
    color: white;
}

li a {
    font-family: AnonymousProRegular;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a: hover {
    background-color: #111;
}


* {box-sizing: border-box}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn, .submitbtns {
    width: 100%;
  }
}

span.psw {
    float: right;
    padding-top: 16px;
}        

.postTypePopUpTrigger {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}


